.inner-page__form {
  width: 280px;
}

.inner-page__name {
  border: none;
}

.name-field {
  margin-right: 20px;
}

.inner-page__achievements {
  border: none;
}

.achievement-field {
  padding-left: 10px;
}

.inner-page__tel-email {
  border: none;
}

.inner-page__app {
  border: none;
}

.inner-page__decr {
  border: none;
}