.page-footer {
  outline: 2px solid purple;
  background-color: #fff;
}

.page-footer__map {
  outline: 2px solid orange;
  height: 500px;
  background: #fff url("../img/bg-map-mobile@1x.png") no-repeat;
}